<div style="padding:20px;">
    <h5>Files</h5>
    <div style="display: flex;flex-wrap: wrap;gap:20px;padding:5px">
        <div class="card" *ngFor="let x of [1,2,2,2,2,2,2,2,1,2,1,1,1,1,1]" style="width: 19rem; height: 19rem">
            <div class="card-body">
                <div class="container">
                    <p>165458</p>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <div class="content mt-3">
                    <img src="../assets/images/image.png">
                    <p><b>BH to approve/ reject learner request - Lerner asset</b></p>
                </div>
            </div>
        </div>
    </div>
</div>