.container{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}
.container p{
    padding: 5px;
    border: 1px solid #eee8e8;
    background-color: rgba(230, 220, 220, 0.966);
    border-radius: 18px;
}