<div style="padding:20px;">
    <h5>Files</h5>
    <!-- <div *ngFor="let x of [1,2,2,2,2,2,2,2,1,2,1]" class="container">
        <div class="content">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <img height="70px" src="../assets/images/image.png">
            <h5>BH to approve/ reject learner request - Lerner asset</h5>
        </div>
        <div class="content1">
            <p>7/7/2022</p>
            <p>10:25 am</p>
        </div>
    </div> -->
    <div class="container1" *ngFor="let x of [1,2,2,2,2,2,2,2,1,2,1]">
        <div class="content">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <img height="70px" src="../assets/images/image.png">
            <h5>BH to approve/ reject learner request - Lerner asset</h5>
        </div>
        <div class="content1">
            <p>7/7/2022</p>
            <p>10:25 am</p>
        </div>
    </div>
</div>