.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
}
.content{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    cursor: pointer;
}