.navbar{
    color: #ffffff;
    background-color: rgb(47, 47, 151);
    height:70px;
    display: flex;
    align-items: center;
}
.container-fluid{
    font-size: 20px;
}
.collapse{
    display: flex;
    align-items: center;
}
h6{
    color: #ffffff;
    margin-right: 20px;
}
h6{
    color: black;
    margin-left: 5px;
}
#navbar1{
    border-bottom: 1px solid rgb(196, 193, 193);
    background-color: transparent;
    height:50px
}
.btn{
    width: 100px;
    height: 36px;
    background-color: rgb(47, 47, 151);
}
.accordion{
    margin-left: -17px;
}
