<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid  d-flex gap-3 text-center">
    <img height="30px" src="../assets/images/option-logo.png">
    <img src="../assets/images/font_images.png">
    <img height="30px" src="../assets/images/apps-icon.png">
    <span>Services</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text d-flex gap-3 ">
        <img height="40px" src="../assets/images/logo.png">
        <div style="border: 1px solid #fff"></div>
        <div>
          <img height="40px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png"><span style="margin-left: 5px;color: #ffffff;"> edge mobeserv</span>
        </div>
      </span>
    </div>
  </div>
</nav>
<!-- Navbar -->
<nav class="navbar" id="navbar1">
  <div class="container-fluid">
    <h6><strong>DAM / Folder</strong></h6>
    <div class="d-flex gap-4">
      <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button> -->
      <img height="30px" src="../assets/images/search.png">
      <a routerLink="/listView"><img height="30px" src="../assets/images/more.png"></a>
      <a routerLink="/gridList"><img height="30px" src="../assets/images/app1.png"></a>
      <button type="button" class="btn btn-primary">Next</button>
    </div>
  </div>
</nav>
<!-- SideBar -->
<div style="width:100%;display:flex">
  <div style="padding:20px">
    <div>
      <h5>42.00% storage full </h5>
      <p> 4.15 GB of 10 GB used</p>
      <hr style="width:180px">
    </div>
    <div>
      <h5><strong><i class="fa-solid fa-hard-drive p-1"></i>All assets</strong></h5>
      <p><i class="fa-solid fa-fax p-1"></i>My assets</p>
      <p><i class="fa-solid fa-trash-can p-1"></i>Trash</p>
      <p><i class="fa-solid fa-rotate p-1"></i>Sync</p>
      <hr style="width:180px">
    </div>
    <div>
      <h5>Filter</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Icon
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Video
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Audio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Link
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Image
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Scrom
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Word
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          PPT
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Excel
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          YouTube Video
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          K-Point
        </label>
      </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <Strong>Department</Strong>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p><img height="25px" src="../assets/images/search.png">Search Department</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                IT
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Inshurance
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                collection
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Rular Consumer
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Credit Opration
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Bussiness Loan
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Marketing
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="flex-grow: 1;">
    <router-outlet></router-outlet>
  </div>
</div>